@font-face {
  font-family: Gotham Light;
  font-style: normal;
  font-weight: lighter;
  src: url("./fonts/GOTHAM-LIGHT.TTF");
}
@font-face {
  font-family: Gotham Medium;
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/gotham-medium.ttf");
}
@font-face {
  font-family: Gotham Bold;
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/GOTHAM-BOLD.TTF");
}
@font-face {
  font-family: Gotham Black;
  font-style: normal;
  font-weight: bolder;
  src: url("./fonts/gotham-black.ttf");
}
body {
  font-family: Gotham Light;
}
.bolder {
  font-family: Gotham Bold;
}
.navbar-brand img {
  width: 5rem;
}
.btn {
  padding: 0 12px;
}
.navbar-brand img {
  width: 4rem;
}
.btn {
  padding: 0 1rem;
  color: #89898d;
}
.navbar-right {
  color: #ff00bf;
}
.navbar-nav {
  margin-top: 0.2rem;
}
.navbar-default {
  background-color: #fff;
}
nav {
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
  z-index: 3;
}
.navbar {
  border-radius: 0;
}
.navbar ul li a {
  color: #212121 !important;
  font-size: 1.2em;
}
.navbar .explore {
  font-size: 0.7em;
}
.sign {
  color: #ff00bf;
  font-weight: bold;
  font-size: 1em !important;
}
.custom {
  display: none;
}
.navbar-toggle .collapsed {
  position: relative;
  left: 0;
}
.navbar-toggle {
  float: left;
  margin-left: 15px;
}
.drive-res {
  border: 1px solid #a9aaaf;
  border-radius: 6px;
  display: none;
}
.navbar-nav li a {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
}
.navbar-default .navbar-collapse {
  border-color: #fff;
}
@media only screen and (min-width: 341px) and (max-width: 512px) {
  .navbar-brand img {
    margin-left: 6rem;
  }
  .drive-res {
    border: none;
  }
  .sign {
    display: none;
  }
  .custom {
    display: block;
    font-weight: bold;
    text-align: right;
    padding: 19px;
    color: #ff00bf;
    font-size: 1em !important;
    font-family: Gotham Bold;
  }
  a:hover {
    color: #ff00bf;
    text-decoration: none;
  }
}
.navbar {
  height: 10vh;
  margin-bottom: 0px;
}
.map {
  height: 90vh;
  width: 100%;
}
#estimate-fare {
  position: absolute;
  top: 80px;
  left: 20px;
  z-index: 2 !important;
}
#estimate-fare .est {
  margin: 20px;
}
#estimate-fare .five {
  margin: 5px 0px;
}
#estimate-fare .ten {
  margin: 10px 0px;
}
#signup-ride {
  position: absolute;
  top: 220px;
  left: 20px;
  z-index: 2 !important;
  display: none;
}
#signup-ride .white {
  padding: 20px;
}
#signup-ride .white .sep {
  margin: 10px 0px !important;
}
#signup-ride .white .image img {
  width: 80%;
  margin-left: 20%;
}
#signup-ride .white .title {
  color: #352384;
  font-weight: lighter;
  margin: 0px;
}
#signup-ride .white .status {
  color: #333447;
  font-size: 10px;
  margin-top: -10px;
}
#signup-ride .white .price {
  color: #352384;
}
#signup-ride .white .info {
  color: #333447;
  font-size: 10px;
}
#signup-ride .white .car {
  float: left;
  width: 25%;
}
#signup-ride .white .content {
  float: left;
  width: 50%;
  padding-left: 30px;
}
#signup-ride .white .prices {
  float: left;
  width: 25%;
  padding-right: 10px;
}
#signup-ride .white .prices i {
  color: #212121;
  cursor: pointer;
}
.inputbox {
  width: 320px;
}
.inputbox .buttons {
  background-color: #ff00bf;
  width: 320px;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 0px;
  font-weight: bolder;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
}
.inputbox .white {
  background-color: #fff;
  padding: 10px 0px;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
  border-radius: 10px;
  margin-bottom: 10px;
}
.inputbox .white .typeride {
  margin-bottom: 10px;
}
.inputbox .white .label-input {
  color: #ff00bf;
  text-transform: uppercase;
  font-weight: bolder;
}
.inputbox .white .route-input {
  display: block;
  border: none;
  width: 90%;
  margin: 5px 0px;
}
.inputbox .white .route-input:focus {
  outline: 0 !important;
}
.inputbox .white .circles {
  font-size: 10px;
  margin: 10px 0px 5px 20px;
}
.inputbox .white .fucsia {
  color: #ff00bf;
}
.inputbox .white .purple {
  color: #352384;
}
.inputbox .white .graypipe {
  color: #ccc;
  margin-left: 20px;
}
.showRides {
  display: block !important;
}
.hideButton {
  display: none;
}
.pac-container:after {
  background-image: none !important;
  height: 0px;
}
.modal-dialog {
  width: 320px;
}
.modal-1 {
  background-color: #ff00bf;
  padding: 15px 20px;
  color: #fff;
  border-radius: 10px 10px 0px 0px;
}
.modal-2 {
  background-color: #fff;
  padding: 15px 30px;
  color: #000;
  border-radius: 0px 0px 10px 10px;
}
.modal-2 .lil {
  font-size: 14px;
}
.modal-2 .sml {
  font-size: 12px;
}
.image-car {
  max-width: 150px;
  margin: 10px 0px;
}
.close-modal {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.note {
  font-style: italic;
  font-size: 13px;
}
.modal-backdrop.in {
  opacity: 0.8 !important;
}
.bg-blur {
  -webkit-filter: blur(6px);
}
@media screen and (max-width: 425px) {
  .modal-dialog {
    margin: 10% auto !important;
  }
}
.pac-icon {
  background-image: url("../img/icon.png") !important;
  background-size: 100%;
  width: 30px;
  height: 40px;
  position: relative;
  top: -14px;
}
.pac-icon-maker {
  width: 50%;
}
@media (max-width: 340px) {
  .inputbox {
    max-width: 300px;
    width: 280px;
  }
  .inputbox .buttons {
    max-width: 280px;
  }
  #estimate-fare {
    position: relative;
    bottom: -280px;
    margin-top: -280px;
  }
}
@media (min-width: 341px) and (max-width: 512px) {
  .inputbox {
    max-width: 340px;
    width: 320px;
  }
  .inputbox .buttons {
    max-width: 340px;
  }
  #estimate-fare {
    position: relative;
    bottom: -280px;
    margin-top: -280px;
  }
}
