.navbar
  height 10vh
  margin-bottom 0px

.map
  height: 90vh
  width: 100%

#estimate-fare
  position absolute
  top 80px
  left 20px
  z-index 2 !important
  hr
    margin 0px !important
  .est
    margin 20px

#signup-ride
  position absolute
  top 220px
  left 20px
  z-index 2 !important
  display none
  .white
    padding 20px
    .sep
      margin 10px 0px !important
    .image
      img
        width 80%
        margin-left 20%
    .title
      color $berry
      font-weight lighter
      margin 0px
    .status
      color $charc
      font-size: 10px
      margin-top -10px
    .price
      color $berry
    .info
      color $charc
      font-size 10px
    .car
      float left
      width 25%
    .content
      float left
      width 50%
      padding-left 30px
    .prices
      float left
      width 25%
      padding-right 10px
      i
        color $gray
        cursor pointer


.inputbox
  width 320px
  .buttons
    background-color $pink
    width 320px
    color white
    border none
    border-radius 6px
    padding 10px 0px
    font-weight bolder
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
  .white
    background-color white
    padding 10px 0px
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
    border-radius 10px
    margin-bottom 10px
    .typeride
      margin-bottom 10px
    .label-input
      color $pink
      text-transform uppercase
      font-weight bolder
    .route-input
      display block
      border none
      width 90%
      &:focus
        outline 0 !important
    .circles
      font-size 10px
      margin-left 20px
    .fucsia
      color $pink
    .purple
      color $berry
    .graypipe
      color #ccc
      margin-left 20px

.showRides
  display block !important
.hideButton
  display none

.pac-container:after
  background-image none !important
  height 0px