.modal-1
	background-color:$pink
	padding:10px
	color:#fff
.modal-2
	background-color:#fff
	padding:10px
	color:#000
.image-car
	max-width:150px
.close-modal
	color:#fff
	font-size:20px
	cursor:pointer