.modal-dialog
	width 320px
.modal-1
	background-color:$pink
	padding:15px
	color:#fff
.modal-2
	background-color:#fff
	padding:15px
	color:#000
.image-car
	max-width:150px
.close-modal
	color #fff
	font-size 20px
	cursor pointer
.note
	font-style italic
	font-size 13px
.modal-backdrop.in
	opacity .7
.bg-blur
	-webkit-filter:blur(2px)