@media (max-width: 340px)
  .inputbox
    max-width 300px
    width 280px
    .white
      background-color red
    .buttons
      max-width 280px

  #estimate-fare
    position: relative;
    top: -200px;
    margin-bottom: -200px;


@media (min-width: 341px) and (max-width: 512px)
  .inputbox
    max-width 340px
    width 320px
    .white
      background-color red
    .buttons
      max-width 340px

  #estimate-fare
    position: relative;
    top: -200px;
    margin-bottom: -200px;