@media (max-width: 340px)
  .inputbox
    max-width 300px
    width 280px
    .buttons
      max-width 280px

  #estimate-fare
    position: relative
    bottom: -280px
    margin-top: -280px


@media (min-width: 341px) and (max-width: 512px)
  .inputbox
    max-width 340px
    width 320px
    .buttons
      max-width 340px

  #estimate-fare
    position: relative
    bottom: -280px
    margin-top: -280px