.navbar-brand
  img
    width 4rem
.btn
  padding 0 1rem
  color #89898D

.navbar-right
  color $pink

.navbar-nav
  margin-top 0.2rem

.navbar-default
  background-color #FFF

.navbar
  border-radius 0

.sign
  color $pink

.navbar
  border-radius 0