.navbar-brand
  img
    width 4rem
.btn
  padding 0 1rem
  color #89898D

.navbar-right
  color $pink

.navbar-nav
  margin-top 0.2rem

.navbar-default
  background-color #FFF

nav
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
  z-index 3

.navbar
  border-radius 0
  ul
    li
      a
        color $gray !important
        font-size: 1.2em
  .explore
    font-size 0.7em;

.sign
  color $pink
  font-weight bold
  font-size 1em !important

.drive
  padding 5px 10px
  border 1px solid $gray
  color $gray
  margin-top 10px
  border-radius 7px