.navbar-brand
  img
    width 4rem
.btn
  padding 0 1rem
  color #89898D

.navbar-right
  color $pink

.navbar-nav
  margin-top 0.2rem

.navbar-default
  background-color #FFF

nav
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
  z-index 2

.navbar
  border-radius 0
  ul
    li
      a
        color $gray !important
        font-size: 1.2em
  .explore
    font-size 0.7em;

.sign
  color $pink
  font-weight bold
  font-size 1em !important
.custom
  display none
.navbar-toggle
  .collapsed
    position relative
    left 0
.navbar-toggle
  float left
  margin-left 15px

.drive-res
  border 1px solid #A9AAAF
  border-radius 6px
  display none

.navbar-nav
  li
    a
      padding-top 5px
      padding-bottom 5px
      margin-top 5px
.navbar-default .navbar-collapse
    border-color #FFF

@media only screen and (min-width: 341px) and (max-width: 512px)
  .navbar-brand
    img
      margin-left 6rem
  .drive-res
    border none
  .sign
    display none
  .custom
    display block
    font-weight bold
    text-align right
    padding 19px
    color $pink
    font-size 1em !important
    font-family Gotham Bold

  a:hover
    color $pink
    text-decoration none
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle
  background-color transparent
  border none
.navbar-default .navbar-collapse
  background-color #fff
div#bs-example-navbar-collapse-1
  padding-top 10px
